.gridContainer {
  display: grid;
  grid-template-columns: 1fr min(1660px, 90%) 1fr;
  grid-template-rows: auto 1fr auto;
}
.gridContainer > * {
  grid-column: 2;
}

.gridContainer > .fluid {
  grid-column: 1 / -1;
}
